@model IEnumerable<string>

@{
    ViewData["Title"] = "GenerarUsuarios";
}

<h1>Usuarios generados</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
            </tr>
         }
    <td>
        @Html.ActionLink("Volver al incio", "Login")
    </td>
    </tbody>
</table>
