@model ProyectoWeb.Models.PlantaDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlantaDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreCientifico" class="control-label">Nombre cientifico</label>
                <input asp-for="nombreCientifico" class="form-control" />
                <span asp-validation-for="nombreCientifico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo:</label>
                <select name="IdTipoPlanta">
                    @foreach (var tipo in Model.TiposPlanta)
                     {
                        <option value="@tipo.id">@tipo.nombre</option>
                     }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="nombresVulgares" class="control-label">Nombres vulgares</label>
                <input asp-for="nombresVulgares" class="form-control" />
                <span asp-validation-for="nombresVulgares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label">Descripción</label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ambiente" class="control-label">Ambiente</label>
                <input asp-for="ambiente" class="form-control" />
                <span asp-validation-for="ambiente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="alturaMaxima" class="control-label">Altura máxima</label>
                <input asp-for="alturaMaxima" class="form-control" />
                <span asp-validation-for="alturaMaxima" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="foto" class="control-label">Nombre de foto</label>
                <input asp-for="foto" class="form-control" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label">Precio</label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

